* {
    font-family: "Poppins", sans-serif;
    color: #000;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	padding: 0px;
/*	background-color: #f5fcf4; */
}

.heading {
	/*border: 10px solid indigo;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 20px;
}

.heading .logo {
	width: 120px;
	height: 60px;
	margin-bottom: 0px;
	margin-left: 70px;
	/*border: 3px solid olivedrab;*/
}

.heading ul li {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin: 0px 30px;
}

.heading ul li a {
	color: #808995;
}

.heading ul li a:hover {
	color: #26643b;
	transition: 0.6 ease-in;
	border-bottom: 3px solid #333;
}

.logo-button {
	/*border: 10px solid orange;*/
	background: #26643b;
	width: 140px;
	font-size: 18px;
	height: 60px;
	border-radius: 10px;
	color: white;
	border: none;
}

.logo-button:hover {
	color: #fff;
	background: #333;
	border: 5px solid #26643b;
}

.explore {
	margin-top: 35px;
	/* margin-left: 40px; */
	text-align: left;
}

.explore-body {
	text-align: left;
}

.explore h1 {
	font-size: 36px;
	font-weight: bolder;
	text-transform: capitalize;
	margin-left: 50px;
}

.explore-body h2 {
	margin-top: -10px;
	margin-left: 60px;
}

.food-pics {
	height: 230px;
	width: 290px;
	border-radius: 15px;
}

.explore-body .container {
	display: flex;
	/* justify-content: center; */
	margin-left: 40px;
	gap: 25px;
	margin-top: 25px;
}

.explore-body .container .food-main {
	display: flex;
	justify-content: space-between;
	background: #d6e5d8;
	border-radius: 10px;
	padding: 20px 40px 10px 20px;
}

.explore-body .container .food-main .food-body {
	width: 200px;
	margin-left: 20px;
}

.explore-body .container .food-main .food-body h3 {
	font-size: 25px;
	font-weight: 500;
}
 
.top-dishes {
    margin-top: 100px;
	margin-left: 45px;
}

.top-dishes h1 {
	margin-left: 25px;
}

.top-dish-img {
    height: 120px;
    width: 180px;
    border-radius: 20px;
}

.top-dishes h2 {
    padding-bottom: 20px;
}

.top-dishes .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.top-dishes .container .box-dish {
    display: flex;
    justify-content: space-between;
    background: #d6e5d8;
    border-radius: 15px;
    padding: 20px;
}

.top-dishes .container .box-dish .text {
    width: 140px;
    margin-left: 20px;
}

.breakfast {
    margin-top: 100px;
}

.top-dish-img {
    height: 120px;
    width: 180px;
    border-radius: 20px;
}

.breakfast h2 {
    padding-bottom: 20px;
	margin-left: 70PX;
}

.breakfast .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-left: 50px;
}

.breakfast .container .box-dish {
    display: flex;
    justify-content: space-between;
    background: #d6e5d8;
    border-radius: 15px;
    padding: 20px;
}

.breakfast .container .box-dish .text {
    width: 140px;
    margin-left: 20px;
}

.lower-row {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.Lunch {
    margin-top: 100px;
}

.top-dish-img {
    height: 120px;
    width: 180px;
    border-radius: 20px;
}

.Lunch h2 {
    padding-bottom: 20px;
	margin-left: 80px;
}

.Lunch .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin-left: 50px;
}

.Lunch .container .box-dish {
    display: flex;
    justify-content: space-between;
    background: #d6e5d8;
    border-radius: 15px;
    padding: 20px;
}

.Lunch .container .box-dish .text {
    width: 140px;
    margin-left: 20px;
}

.lower-row {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.Dinner {
    margin-top: 100px;
	margin-left: 50px;
}

.top-dish-img {
    height: 140px;
    width: 180px;
    border-radius: 20px;
}

.Dinner h2 {
    padding-bottom: 20px;
	margin-left: 35px;
}

.Dinner .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Dinner .container .box-dish {
    display: flex;
    justify-content: space-between;
    background: #d6e5d8;
    border-radius: 15px;
    padding: 20px;
}

.Dinner .container .box-dish .text {
    width: 140px;
    margin-left: 20px;
}

.lower-row {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.flex-container {
	margin-top: 120px;
	background-color: #d6e5d8;
	padding: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	height: 70px;
}

.first-column-text {
	margin-top: 20px;
}

.first-column {
	font-size: 18px;
	margin-top: 30px;
}

.first-column h4 {
	margin-top: -5px;
}

.second-column h2 {
    margin-top: 0px;
	margin-bottom: -11px;
	font-size: 22px;
}

.second-column ol li {
	margin-top: 9px;
}

.third-column h2 {
    margin-top: -80px;
	margin-bottom: -11px;
	font-size: 22px;
}

.third-column ol li {
	margin-top: 9px;
}

.fourth-column {
	margin-top: -105px;
}

.fourth-column h3 {
	margin-bottom: -11px;
	font-size: 22px;
}

.fourth-column ol li {
	margin-top: 9px;
}

.copyright {
	text-align: center;
	margin-top: 50px;
	color: #26643b;
}

.copyright .container p {
	color: #26643b;
	font-size: larger;
}
